image: python:3.9-slim

before_script:
  - pip install mkdocs mkdocs-material termynal

pages:
  stage: deploy
  script:
    - mkdocs build --verbose --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
